<app-main-nav>
  <div class="dashboard-layout">
    <mat-card class="card-picture">
      <mat-card-title>
        <span fxFlex="50%">Bar Chart</span>

      </mat-card-title>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card>
    <mat-card class="card-picture">
      <mat-card-title>
        <span fxFlex="50%">Bar Chart</span>

      </mat-card-title>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card>
    <mat-card class="card-picture">
      <mat-card-title>
        <span fxFlex="50%">Bar Chart</span>

      </mat-card-title>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card>
    <mat-card class="card-picture">
      <mat-card-title>
        <span fxFlex="50%">Bar Chart</span>

      </mat-card-title>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card>
    <mat-card class="card-picture">
      <mat-card-title>
        <span fxFlex="50%">Bar Chart</span>

      </mat-card-title>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card>
    <mat-card class="card-picture">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="50%">Bar Chart</span>

      </mat-card-title>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card>
    <mat-card class="card-picture">
      <mat-card-title>
        <span fxFlex="50%">Bar Chart</span>

      </mat-card-title>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card>
    <mat-card class="card-picture">
      <mat-card-title>
        <span fxFlex="50%">Bar Chart</span>

      </mat-card-title>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card>
    <mat-card class="card-picture">
      <mat-card-title>
        <span fxFlex="50%">Bar Chart</span>

      </mat-card-title>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card>
  </div>
</app-main-nav>