.login-card {
  flex-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 31%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}
mat-form-field{
  width: 100%;
  font-size: 18px;
}
